/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #212121;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 8.9vw;
  hyphens: auto;
  word-spacing: -0.25em;
  margin-left: 1.3em;
  margin-right: 1.5em;
}

/* Sections or "pages" of the web site */

.section {
  text-align: center;
}

/* Define the color of the right-side bullets to match the headers */

/* stylelint-disable */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #212121;
}
/* stylelint-enable */
