[data-md-color-scheme="default"] {
  --md-typeset-a-color: #f57c00;
}

.md-typeset a {
  text-decoration: underline;
  color: #000;
  word-break: break-word;
}

.md-typeset h1 {
    margin: 0 0 px2em(40px, 32px);
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: px2em(32px);
    line-height: 1.3;
    letter-spacing: -0.01em;
}
